@import "tailwindcss";

body { 
  font-family: 'DM Sans', sans-serif; 
}


.glass {
  background: rgba(255, 255, 255, 0.08);
  background-color: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(18px);
  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.glass-dark {
  background: rgba(10,40,40,0.6);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.2);
}

.progress-bar {
  background: linear-gradient(90deg, #0d5c56, #14b8a6);
}

.avatar-ring {
  border: 2px solid white;
  margin-left: -8px;
}